{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <article class="span12 data-block">
        <div class="data-container">
            <header>
                <h2>Admin</h2>
            </header>
            <section>
                <p>Setup projects, manage builds, list workers, and more admin stuffs.</p>
            </section>
        </div>
    </article>
</div>

<div class="row-fluid">
    <article class="span12 data-block nested">
        <div class="data-container">                       
            <div id="accordion1" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" style="text-align: center;" href="#collapseOne" data-parent="#accordion1" data-toggle="collapse"> Add Project <span class="caret"></span></a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                        <div class="accordion-inner">         
                            <form class="form-horizontal" action="/admin_action/add_proj" method="post">
                                <input type="hidden" name="isact" value="1" /><!-- We use this to track POST requests on the backend -->
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label" for="input">Project Name</label>
                                        <div class="controls">
                                            <input id="input" class="input-xxlarge" type="text" name="pname">
                                            <p class="help-block">The name of the project. Its usually best to keep this the same as git (all though its not required)</p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="input">Project URL</label>
                                        <div class="controls">
                                            <input id="input" class="input-xxlarge" type="text" name="purl">
                                            <p class="help-block">The URL of the project. Can be a GL/GH url, or a public webpage.</p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="input">Git Name</label>
                                        <div class="controls">
                                            <input id="input" class="input-xxlarge" type="text" name="pgitname">
                                            <p class="help-block">The name of the git repository (Must be exact, this is used for post-recieve urls).</p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="input">Project URL</label>
                                        <div class="controls">
                                            <input id="input" class="input-xxlarge" type="text" name="giturl">
                                            <p class="help-block">The git SSH url, something like <code>git@blah.com:mygit.blah</code></p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="textarea">Project Description</label>
                                        <div class="controls">
                                            <textarea id="textarea" class="input-xxlarge" rows="5" name="pdesc"></textarea>
                                            <p class="help-block">An overview or description of the project (helps users understand projects)</p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="optionsRadios">Project Git Type</label>
                                        <div class="controls">
                                            <label class="radio inline">
                                                <input type="radio" name="repotype" id="optionsRadios1" value="gl" checked="">
                                                Gitlab
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" name="repotype" id="optionsRadios2" value="gh">
                                                Github
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button class="btn btn-alt btn-large btn-primary" type="submit">Add Project</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </article>
</div>

{% endblock %}



