{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <article class="span12 data-block">
        <div class="data-container">
            <header>
                <h2>Projects</h2>
            </header>
            <section>
                <p>The following is a set of projects that are hosted on this build bot. Each project displays both the successfull and failed builds over the course of its existance in our database. </p>
            </section>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="span2">Name</th>
                        <th class="span2">Author</th>
                        <th class="span5">Description</th>
                        <th class="span4">Build Stats</th>
                        {% if v.loggedin %}
                            <th class="span2">Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for proj in v.projects %}
                    {% set apc, bpc = proj.getpc() %}
                    <tr>
                        <td><a href="/project/{{ proj.id }}">{{ proj.name }}</a></td>
                        <td>{{ proj.author.username }}</td>
                        <td>{{ proj.desc }}</td>
                        <td><div class="progress progress-line">
                            <a href="#" rel="tooltip" title="{{ proj.getWins(True) }}"><div class="bar bar-success" style="width: {{ apc }}%;"></div></a>
                            <a href="#" rel="tooltip" title="{{ proj.getFails(True) }}"><div class="bar bar-danger" style="width: {{ bpc }}%;"></div></div></a>
                        </div></td>
                        {% if v.loggedin %}
                            <td><a class="btn btn-alt btn-danger" href="/admin_action/delete_proj/{{ proj.id }}"></span>Delete</a>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</div>
{% endblock %}



            
        