{% extends "base.html" %}
{% block content %}
<div class="widget">
    <div class="title"><img src="/static/images/icons/dark/list.png" alt="" class="titleIcon" /><h6>Project: {{ p.name }}</h6></div>
    <p>{{ p.desc }}</p>
</div>
{% block stats %} {% endblock %}
<div class="widget">
    <div class="title"><img src="/static/images/icons/dark/stats.png" alt="" class="titleIcon" /><h6>Projects</h6></div>
    <table cellpadding="0" cellspacing="0" width="100%" class="sTable">
        <thead>
            <tr>
                <td>Build #</td>
                <td>Commit</td>
                <td>Pusher</td>
                <td>Info</td>
                <td>Success/Failure</td>
            </tr>
        </thead>
        <tbody>
            {% for i in v.builds %}
                <tr>
                    <td align="center">
                        <a href="{% if i.success %}{{ i.burl }}{% else %}#{%endif%}" title="" class="webStatsLink">{{ i.bnum }}</a>
                    </td>
                    <td align="center"><a href="http://git.hydr0.com/{{ i.commit.url }}">{{ i.commit.sha }}</a></td>
                    <td align="center">{{ i.commit.by }}</td>
                    <td align="center">{% if i.success %} {{ i.commit.info }} {% else %} {{ i.result }} {% endif %}</td>
                    <td align="center">{% if i.success %}Build completed in {{ i.time }}s{% else %}Build failed!{% endif %}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>

</div>
{% endblock %}